body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background: #262626;
}

h1,
p {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

form {
    padding-top: 5rem;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

form label,
form textarea {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem 0;
}

input[type="checkbox"] {
    width: unset;
    display: inline;
}

form fieldset input,
form textarea {
    width: 100%;
    background: #303030;
    color: #ffffff;
}

form fieldset input {
    height: 1.5rem;
}

input[type="submit"] {
    width: 100%;
    max-width: 300px;
    margin: 1rem auto;
    color: #ffffff;
    background: #404040;
    height: 2rem;
}
