body {
    background-color: #262626;
    color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

header figure img {
    width: 50px;
    height: 50px;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    margin: 0px 1rem;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}

header ul li a:hover {
    background-color: #505050;
    border-radius: 50px;
}

#header {
    position: fixed;
    top: 0;
}

iframe {
    border-radius: 50px;
}

#margin-top {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

#iframe {
    /* width: 33%; */
    /* margin-left: auto; */
    /* margin-right: auto; */
}

#in-form {
    /* width: 100%; */
    /* margin: auto; */
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20rem;
}

#form input {
    display: block;
}

input[type="email"] {
    width: 20%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1.5rem;
    border-radius: 1rem;
}

input[type="submit"] {
    background-color: #262626;
    color: #ffffff;
    width: 20%;
    margin: auto;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}

@media (max-width: 768px) {
    input[type="email"],input[type="submit"] {
        width: 33%;
    }
    iframe{
        width: 400px;
        height: 200px;
    }
}

@media (max-width: 425px) {
    input[type="email"],input[type="submit"] {
        width: 50%;
    }
    iframe{
        width: 300px;
        height: 150px;
    }
    h1{
        font-size: 1rem;
    }
}

